.avatar-radio > input[type=radio]{
  display:none;
}

.devata-radio > input[type=radio]{
  display:none;
}

input[type=radio] + img{
  cursor:pointer;
  border:2px solid transparent;
}
input[type=radio]:checked + img{
  border:2px solid #f00;
}

.content {
    display: none;
}



.thumbnail{
  width:75px;
  height:75px;
}