/*Background Image*/
body,html { 
  background: url(/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding:0;
}


#body 
{
width:1000px;
margin:300px;
position: absolute; 
margin-top:80px;
font-family:verdana,sans-serif;
}

.header{
	color:orange;
}

#nav
 {
background-color:white;
width:100%;
height:35px;
box-shadow: 0px 1px 50px #5E5E5E;
position:fixed;
top:0px;
text-align: center;
padding-left: 5px;
z-index: 1000;
line-height: 10px;
}

.log{
	height:100%;
	width: 200px;
	text-align: center;
}

.instructions {
	-moz-box-shadow:inset 0px 0px 8px 0px #fbafe3;
	-webkit-box-shadow:inset 0px 0px 8px 0px #fbafe3;
	box-shadow:inset 0px 0px 8px 0px #fbafe3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #e879b4));
	background:-moz-linear-gradient(top, #ff5bb0 5%, #e879b4 100%);
	background:-webkit-linear-gradient(top, #ff5bb0 5%, #e879b4 100%);
	background:-o-linear-gradient(top, #ff5bb0 5%, #e879b4 100%);
	background:-ms-linear-gradient(top, #ff5bb0 5%, #e879b4 100%);
	background:linear-gradient(to bottom, #ff5bb0 5%, #e879b4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#e879b4',GradientType=0);
	background-color:#ff5bb0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:3px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:22px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 10px #c4026a;
}
.instructions:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e879b4), color-stop(1, #ff5bb0));
	background:-moz-linear-gradient(top, #e879b4 5%, #ff5bb0 100%);
	background:-webkit-linear-gradient(top, #e879b4 5%, #ff5bb0 100%);
	background:-o-linear-gradient(top, #e879b4 5%, #ff5bb0 100%);
	background:-ms-linear-gradient(top, #e879b4 5%, #ff5bb0 100%);
	background:linear-gradient(to bottom, #e879b4 5%, #ff5bb0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e879b4', endColorstr='#ff5bb0',GradientType=0);
	background-color:#e879b4;
}
.instructions:active {
	position:relative;
	top:1px;
}


aside
{
	position:fixed;
	width: 250px;
	height: 100%;
	top: 0;
	left: 0;
	border: 1px solid #111;
}

aside p
{
	position: absolute;
	height: 100%;
	width: 250px;
	top: 150px;
	margin: -100px 0;
	padding-left: 40px;
}

.side-avatar{
	display: block;
	width: 125px;
	height: 125px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.side-devata{
	display: block;
	width: 125px;
	height: 125px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}


.sideButton {
	-moz-box-shadow:inset 0px 0px 3px 0px #f0f7fa;
	-webkit-box-shadow:inset 0px 0px 3px 0px #f0f7fa;
	box-shadow:inset 0px 0px 3px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:3px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 15px #5b6178;
}
.sideButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.sideButton:active {
	position:relative;
	top:1px;
}


.main-select-div{
	margin-left: 500px;
	text-align: center;
}

.select-form{
	width:1000px;
	margin-left: -500px;
}


.title{
  font-family: verdana, sans-serif;
  font-size: 50px;
  text-align: center;
}

.select-descp{
	width:200px;
	height:30px;
}

.level-descp{
	
	text-align: center;
}

.level-descp-text{
	width:300px;
	text-align: center;
	margin-left: 340px;
}


/*Profile Page*/

.avatar-profile-position{
	display: inline;
	float:right;
}

.devata-profile-position{
	display: inline;
	float:left;
}

.location-profile-position{

}

.profile-avatar{
	display: block;
	width: 300px;
	height: 300px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.profile-devata{
	display: block;
	width: 300px;
	height: 300px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}


/*Profile Editing*/


/*Avatar and Devata Selecting*/
.avatara-radio > input[type=radio]{
  display:none;
}

.devata-radio > input[type=radio]{
  display:none;
}

input[type=radio] + img{
  cursor:pointer;
	display: inline-block;
	width: 75px;
	height: 75px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
input[type=radio]:checked + img{
  border:5px solid #057fd0;
}

.avatara-select-field{
	width:500px;
	text-align: center;
}

.location-select-field{
	width:500px;
}

.content {
	display: none;
}

.avatara-descp{
	width:600px;
	height:300px;
}

.avatar-descp-img{
	float:right;
}

.avatar-descp-text{
	width:250px;
	height:250px;
}

.bigpic{
	width:270px;
	height:300px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}


.level-head{
	font-size: 30px;
	font-weight: bold;
	margin-top: -20px;
}

#quit-dialog{
    display:none;
	-moz-box-shadow:inset 0px 1px 9px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 9px 0px #fce2c1;
	box-shadow:inset 0px 1px 9px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:3px solid #ed7551;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
	text-align: center;
}
#quit-dialog

.score-holder{
	display:none;
}

.both-button-div{
	margin-top: -20px;
}


.progress-bar-div{
	width:900px;
	text-align: center;
	margin-top: -10px;
}

.progress-bar-div li{
	list-style: none;
	display:inline-block;
}


.bottom-progress-bar{
	margin-top: -50px;
}

#continue-button-div{
	text-align: center;
	width:400px;
	float:right;
	margin-right: 50px;
	height: 50px;
}

.continue-button{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:22px;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:2px 1px 5px #2f6627;
}

.continue-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
	background-color:#72b352;
}
.continue-button:active {
	position:relative;
	top:1px;
}

#quit-button-div{
	text-align: center;
	width:400px;
	padding-top: 10px;

}

#quit-button {
	-moz-box-shadow:inset 0px 0px 8px 0px #cf866c;
	-webkit-box-shadow:inset 0px 0px 8px 0px #cf866c;
	box-shadow:inset 0px 0px 8px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #d1573e));
	background:-moz-linear-gradient(top, #d0451b 5%, #d1573e 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #d1573e 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #d1573e 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #d1573e 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #d1573e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#d1573e',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:3px solid #992c16;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:22px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 28px #854629;
}
#quit-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1573e), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #d1573e 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #d1573e 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #d1573e 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #d1573e 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #d1573e 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1573e', endColorstr='#d0451b',GradientType=0);
	background-color:#d1573e;
}
#quit-button:active {
	position:relative;
	top:1px;
}


.score-stop{
	-moz-box-shadow:inset 0px 1px 19px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 19px 0px #91b8b3;
	box-shadow:inset 0px 1px 19px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:3px solid #566963;
	display:inline-block;
	color:#6e6e6e;
	font-family:arial;
	font-size:22px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 24px #2b665e;
	pointer-events:none;
}


#progress-past{
	display: inline-block;
	width: 75px;
	height: 75px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid green;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#progress-current{
	display: inline-block;
	width: 75px;
	height: 75px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid yellow;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#progress-future{
	display: inline-block;
	width: 75px;
	height: 75px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid black;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}




